<div class="movie_card" >
    <div class="info_section">
      <div class="movie_header">
        <img class="locandina" [src]="movie.Poster"/>
        <h1>{{movie.Title}}</h1>
        <h4>{{movie.Year}}, David Ayer</h4>
        <span class="minutes">117 min</span>
        <p class="type">{{movie.Type}}</p>
      </div>
      <div class="movie_desc">
        <p class="text">
          Set in a world where fantasy creatures live side by side with humans. A human cop is forced to work with an Orc to find a weapon everyone is prepared to kill for. 
        </p>
      </div>
      <div class="movie_social">
        <ul>
          <li><i class="material-icons">share</i></li>
          <li><i class="material-icons"></i></li>
          <li><i class="material-icons">chat_bubble</i></li>
        </ul>
      </div>
    </div>
    <div class="blur_back bright_back"></div>
  </div>